# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# VSCode / PyCharm
.vscode/
.idea/

# macOS / Windows junk
.DS_Store
Thumbs.db

# Python cache and logs
*.log

# Environment variables
*.env

# Alembic migrations cache
alembic/versions/__pycache__/

# Python testing cache
.pytest_cache/

# Docker volumes
postgres_data/